<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="movimientos-usuario">
 <template>
   <style>
     :host {
       display: block;
       font-family: Helvetica;
     }
     .container{
       width: 100%;
       max-width: 600px;
       margin: 0 auto;
       padding: 100px 0;
       padding-top: 10px;
     }
     .container h4{
       font-family: Helvetica;
       color: white;
     }
     .container .table .thead-dark th{
       background:  #0672ca !important
     }
     .container .table-bordered th{
       background: white
     }
     .container .table-bordered td{
       background: white
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
     <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
     total columnas 12 (que indica el ancho máximo)-->
     <!-- media query -->

     <div hidden$="{{isvar5}}" class="container">
         <h4 class="col-md-5">Usuario: {{first_name}} {{last_name}}</h2>
         <h4 class="col-md-5">Email: {{email}}</h2>
       <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr class="text-center">
                                <th>SALDO TOTAL</th>
                                <th>MOVIMIENTOS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template is="dom-repeat" items={{listMovements}} as="val">
                                <tr width="100">
                                    <td style="vertical-align: middle;">{{val.saldo}}</td>
                                    <td style="padding: unset;">
                                      <table class="table table-striped table-bordered table-hover" style="margin: unset;"><tbody>
                                          <thead class="thead-dark">
                                              <tr class="text-center">
                                                  <th>FECHA</th>
                                                  <th>DESCRIPCION</th>
                                                  <th>ITF</th>
                                                  <th>MONTO</th>
                                              </tr>
                                          </thead>
                                      <template is="dom-repeat" items="{{val.movimientos}}" as="itemsMov">
                                        <tr>                                           
                                           <td style="width: 25%;">{{itemsMov.fecha}}</td>
                                           <td style="width: 50%;">{{itemsMov.descripcion}}</td>
                                           <td style="width: 20%;">{{itemsMov.itf}}</td>
                                           <td style="width: 20%;">{{itemsMov.monto}}</td>
                                         </tr>
                                      </template>
                                    </tbody>
                                  </table>
                                   </td>
                                </tr>
                              </template>
                        </tbody>
                    </table>
   </div>
   <iron-ajax
     auto=""
     id="getUser"
     url="http://localhost:3000/api_peru/v3/users/{{idr}}"
     handle-as="json"
     on-response="showData"></iron-ajax>
    <iron-ajax
       auto=""
       id="getUser1"
       url="http://localhost:3000/api_peru/v3/users/account/{{idr}}/movement"
       handle-as="json"
       on-response="showmovement"></iron-ajax>

 </template>


 <script>
   /**
    * @customElement
    * @polymer
    */
   class MovimientosUsuario extends Polymer.Element {
     static get is() { return 'movimientos-usuario'; }
     static get properties() {
       return {
         isvar5:{
           type:Boolean,
           value:true
         },
         first_name: {
           type: String
         },
         last_name: {
           type: String
         },
         email: {
           type: String
         },
         listMovements: {
           type: Array
         },
         idr:{
           type:String,
         },
         idcue:{
           type:String,
         }
       };
     }
     showData(data){
        //console.log(data);
        console.log("Recibidos datos del movimientos usuarios:");
  // mLab nos devuelve un array con el objeto solicitado por eso [0]
        console.log(data.detail.response);
        console.log(data.detail.response.id);
        console.log(data.detail.response.first_name);
        console.log(data.detail.response.last_name);
        console.log(data.detail.response.email);

        this.id = data.detail.response.id;
        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;
      }
      showmovement(data){
         //console.log(data);
         console.log("Recibidos datos del usuarios:");
   // mLab nos devuelve un array con el objeto solicitado por eso [0]
         console.log(data.detail.response);
         this.listMovements = data.detail.response;
       }
       mostrarDatosRecibidosmovimientos(data){
        this.idcue=data.idcue;
        this.isvar5=data.isvar5;
        this.idr=data.idr;
        console.log("Receptor movimientos"+ this.idcue);
       }

   }
   window.customElements.define(MovimientosUsuario.is, MovimientosUsuario);
 </script>
</dom-module>
