<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="visor-curso">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>This is a [[courseSubject]] course</h2>
    <h2>and it's called [[courseName]]</h2>
    <h3>The Course is [[courseDuration]] hours long</h3>    
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCurso extends Polymer.Element {
      static get is() { return 'visor-curso'; }
      static get properties() {
        return {         
          courseSubject: {
            type: String            
          }, 
          courseName:{
            type: String            
          },
          courseDuration:{
            type:Number
          }
        };
      }
    }

    window.customElements.define(VisorCurso.is, VisorCurso);
  </script>
</dom-module>
