<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../demo-test-dos/demo-test-dos.html">

<dom-module id="demo-test">
  <template>
    <style>
      :host {
        display: block;
        background-color: green;
        color: black;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <demo-test-dos></demo-test-dos>
    <h2>Bye [[prop2]]!</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DemoTest extends Polymer.Element {
      static get is() { return 'demo-test'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Peru'
          },
          prop2: {
            type: Number,
            value: 10
          }
          
        };
        
      }
      saludar(){
          console.log('Saludo')
        }
    }

    window.customElements.define(DemoTest.is, DemoTest);
  </script>
</dom-module>
