<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../visor-persona/visor-persona.html">
<link rel="import" href="../page-not-found/page-not-found.html">

<dom-module id="test-iron-pages">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>  
    <h2>Iron pages TEST</h2>
    <input value="{{componentName::input}}" placeholder="Select component">
    <iron-pages selected="[[componentName]]" attr-for-selected="component-name">
      <div component-name="josmil"><visor-persona></visor-persona></div>
      <div component-name="page-not-found"><page-not-found></page-not-found></div>
    </iron-pages> 
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class TestIronPages extends Polymer.Element {
      static get is() { return 'test-iron-pages'; }
      static get properties() {
        return {
          componentName:{
            type:String
          }
        };
      }
    }

    window.customElements.define(TestIronPages.is, TestIronPages);
  </script>
</dom-module>
