<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="polymertest-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>This is a [[courseSubject]] course</h2>
    <h2>and it's called [[courseName]]</h2>
    <h2>Propiedad [[prop1]]</h2>
    <input type="text" value="{{courseName::input}}">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PolymertestApp extends Polymer.Element {
      static get is() { return 'polymertest-app'; }
      static get properties() {
        return {
          prop1:{
            type:String
          },
          courseSubject: {
            type: String            
          }, courseName:{
            type: String,
            value:'Web Components and Polymer'
          }
        };
      }
    }

    window.customElements.define(PolymertestApp.is, PolymertestApp);
  </script>
</dom-module>
