<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-persona">
  <template>
    <style>
      :host {
        display: block;
        background-color: green;
        color: black;
      }
    </style>
   
    <h2>Mi id es [[id]]</h2>
    <h3>y me llamo [[name]]</h3>    
    
    <iron-ajax auto id="getPerson" url="http://localhost:3000/bdapi_peru/v1/user/" handle-as="json"
      on-response="showData">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorPersona extends Polymer.Element {
      static get is() { return 'visor-persona'; }
      static get properties() {
        return {
          name: {
            type: String
          },
          id: {
            type: Number
          },
          listaPersonas: {
            type: Array
          }

        };

      }
      // After the properties, but inside the class.
      showData(data) {
        console.log("showData");
        console.log(data.detail.response);        
        let myArray = data.detail.response.value        

        this.id = data.detail.response[4].userID;
        this.name = data.detail.response[4].first_name; 
         

      }
    }
    window.customElements.define(VisorPersona.is, VisorPersona);
  </script>
</dom-module>