<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="demo-test-dos">
  <template>
    <style>
      :host {
        display: block
      /*   background-color: blue; */
        /* color: white */
      }      
    </style>
    <input type="text" value="{{nombre::input}}">    
    <p>[[nombre]]</p>
    <input type="range" min="18" max="100" value="{{edad::input}}">
    <p>Hola soy [[nombre]] y mi edad es  [[edad]]</p>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DemoTestDos extends Polymer.Element {
      static get is() { return 'demo-test-dos'; }
      static get properties() {
        return {
          nombre: {
            type: String,
            value: ''
          },
          edad: {
            type: Number,
            value: 24
          }
          
        };
        
      }
      saludar(){
          console.log('Saludo')
        }
    }

    window.customElements.define(DemoTestDos.is, DemoTestDos);
  </script>
</dom-module>
